doctype html
html(ng-app="doodoodleApp")
  head
    title= title
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-cookies.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/lz-string.js')
    script(src='/javascripts/doodoodle.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
  body
    .container-fluid.master
        .col-lg-12
            block content
    block scripts
        script(src='/javascripts/jquery-2.1.1.min.js')
        script(src='/javascripts/bootstrap.min.js')
