extends layout
block stylesheets

block content
  .container(ng-controller='GameCtrl')
    script.
      var isPlayer= #{isPlayer};
    .row.row-offcanvas.row-offcanvas-right
        .col-sm-12.col-md-9
          p.pull-right.visible-xs
            button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Scores
          
          .jumbotron
            canvas.drawing(width=450, height=600, drawing, resize, ng-style="style()")
            span#drawingText
            //- Set up as a host
            div(ng-if="!isPlayer")
              h1 Doodoodle
              p To join this game, go to 
                a(href="http://qu.izti.me") qu.izti.me 
                | and use room code {{game.room}}
              a(href="/player")
                button.btn.btn-warning.btn-xs(type='button') Oops, I'm a player!
            
            //- Set up as a player
            form(ng-if="isPlayer && !game", name="playerForm")
              h1 Doodoodle
              h2 Join a game here
              a(href="/host")
                button.btn.btn-warning.btn-xs(type='button') Wait, I'm a host!
              .form-group
                label(for='inputName') Name
                input#inputName.form-control(name="inputName", ng-model="joinData.name", type='text', placeholder='Name', required)
                p {{playerName}}
              .form-group
                label(for='inputRoom') Room
                input#inputRoom.form-control(ng-model="joinData.room", type='text', placeholder='XXXX', required, ng-minlength=4, ng-maxlength=4, ng-patterh="[A-Z]", maxlength=4)
                p {{room}}
              button.btn.btn-block.btn-default.text-uppercase(ng-click="startPlayer()",type='submit', ng-disabled="playerForm.$invalid") Go
              p
                div.alert.alert-danger.error(ng-show="error") {{error}}

            
            //- Set up is done, let's show controls for players
            .controls(ng-if="game && game.state")
            h2 Controls
              .prep-buttons(ng-show="game.state.name == 'prep'", state="prep")
                | Prep buttons
                button.btn.btn-block.btn-default.text-uppercase(ng-click="action('start')",type='submit') Start
              .header(ng-show="game.state.name == 'draw'", state="draw")
                | Draw
                canvas.drawing(width=450, height=600, drawing, resize, ng-style="style()")
              .draw(ng-show="game.state.name == 'vote'", state="vote")
                | Vote box
              .draw-buttons(ng-show="game.state.name == 'result'", state="result")
                | Result buttons

                //- <tabs>
                //-       <pane title="Localization">
                //-         Date: {{ '2012-04-01' | date:'fullDate' }} <br>
                //-         Currency: {{ 123456 | currency }} <br>
                //-         Number: {{ 98765.4321 | number }} <br>
                //-       </pane>
                //-       <pane title="Pluralization">
                //-         <div ng-controller="BeerCounter">
                //-           <div ng-repeat="beerCount in beers">
                //-             <ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
                //-           </div>
                //-         </div>
                //-       </pane>
                //-     </tabs>

              //- div.btn-group.btn-group-justified
              //-   .btn-group(ng-attr-control="{{game.state.directive}}")
              //-     div(ng-class="{{c}}")
              //-     button.btn.btn-default() {{ c }}

                
          .row
            .col-sm-6.col-lg-4
              h2 Heading
              |               
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              |               
              p
                a.btn.btn-default(href='#', role='button') View details &raquo;
            .col-sm-6.col-lg-4
              h2 Heading
              |               
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              |               
              p
                a.btn.btn-default(href='#', role='button') View details &raquo;
            .col-sm-6.col-lg-4
              h2 Heading
              |               
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              |               
              p
                a.btn.btn-default(href='#', role='button') View details &raquo;
            .col-sm-6.col-lg-4
              h2 Heading
              |               
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              |               
              p
                a.btn.btn-default(href='#', role='button') View details &raquo;
            .col-sm-6.col-lg-4
              h2 Heading
              |               
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              |               
              p
                a.btn.btn-default(href='#', role='button') View details &raquo;
            .col-sm-6.col-lg-4
              h2 Heading
              |               
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              |               
              p
                a.btn.btn-default(href='#', role='button') View details &raquo;
        #sidebar.col-sm-6.col-md-3.sidebar-offcanvas
          h2 Players
          .list-group
            a.list-group-item.active(ng-repeat='p in game.players') Player {{p.name}}
            
    hr
    |       
    footer
      p &copy; Company 2014

  block scripts
